AgenticAIBlogGenerator/n8n_blog_workflow.json
{
  "name": "Agentic AI Blog Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agentic-ai-blog-generate",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "Webhook_Trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1280,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "let body = $json.body ?? $json;\nif (typeof body === 'string') {\n  try {\n    body = JSON.parse(body);\n  } catch {\n    throw new Error('Invalid JSON in webhook body');\n  }\n}\n\nconst topic = body.topic?.toString().trim();\nif (!topic) {\n  throw new Error('Missing required field: topic');\n}\n\nconst audience = body.audience?.toString().trim() || 'Founders, hiring managers, and product teams evaluating serious AI execution talent';\nconst tone = body.tone?.toString().trim() || 'Sharp, credible, implementation-first, and insight-dense';\nconst wordCount = Number(body.wordCount ?? 1400);\nconst cta = body.cta?.toString().trim() || 'The gap between demo AI and production AI is not tooling. It is execution discipline. Teams that understand this will ship faster, break less, and win more.';\nconst goal = body.goal?.toString().trim() || 'Show the difference between systems that demo well and systems that survive production.';\nconst proofPoints = body.proofPoints?.toString().trim() || 'I have built agentic systems that generate, validate, and package content across blog and social in a single pipeline with failure isolation, structured outputs, and retry logic.';\nconst systemExample = body.systemExample?.toString().trim() || 'User input -> topic normalizer -> planner -> section generator -> validation layer -> metadata formatter -> output API. Validation checks length, duplication, structure, and tone alignment. If validation fails, regenerate only the weak section. If retries fail, fall back to a safe response template.';\n\nreturn [{\n  json: {\n    topic,\n    audience,\n    tone,\n    wordCount: Number.isFinite(wordCount) ? Math.max(900, Math.min(3200, wordCount)) : 1400,\n    cta,\n    goal,\n    proofPoints,\n    systemExample,\n    requestedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "Normalize_Input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const topic = $json.topic;\nconst audience = $json.audience;\nconst tone = $json.tone;\nconst wordCount = Number($json.wordCount ?? 1400);\nconst goal = $json.goal;\nconst proofPoints = $json.proofPoints;\nconst systemExample = $json.systemExample;\n\nconst searchQueries = [\n  `${topic}`,\n  `${topic} implementation playbook`,\n  `${topic} failure handling architecture`,\n  `${topic} state management patterns`,\n  `${topic} production workflow case study`\n];\n\nconst outline = [\n  {\n    section: 'The Market Shift',\n    bullets: [\n      `Open with a sharp hook about why ${topic} matters right now`,\n      `Frame the opportunity and urgency for ${audience}`\n    ]\n  },\n  {\n    section: 'Why Most Teams Still Ship Demo-Grade AI',\n    bullets: [\n      'Show how shallow orchestration, weak validation, and prompt-only thinking fail in production',\n      'Introduce the idea that most pipelines fail at validation, not generation'\n    ]\n  },\n  {\n    section: 'A Real System Mental Model',\n    bullets: [\n      `Use this architecture as the grounding example: ${systemExample}`,\n      'Explain how agents communicate, where state lives, and where reliability checks sit'\n    ]\n  },\n  {\n    section: 'Failure Handling And Retry Logic',\n    bullets: [\n      'Describe partial regeneration, retry limits, and safe fallback behavior',\n      'Call out latency versus quality as the real production trade-off'\n    ]\n  },\n  {\n    section: 'Proof Of Capability',\n    bullets: [\n      `Weave this proof in naturally: ${proofPoints}`,\n      `Tie the article back to this hiring and client outcome: ${goal}`\n    ]\n  },\n  {\n    section: 'Closing Takeaways',\n    bullets: [\n      'Close with authority, not a sales pitch',\n      'End on execution discipline and why it compounds team advantage'\n    ]\n  }\n];\n\nconst angle = `${tone} article for ${audience} that reads like a strong operator showing real system design, failure handling, and business credibility in about ${wordCount} words.`;\nconst hook = `Most AI content pipelines look impressive in demos. They collapse in production.`;\nconst architectureSnapshot = `Input -> Planner -> Generator -> Validator -> Formatter -> Output\\nFallback path: Validation fail -> Regenerate weak section only -> Retry cap -> Safe template response`;\n\nreturn [{\n  json: {\n    search_queries: searchQueries,\n    angle,\n    hook,\n    architectureSnapshot,\n    outline,\n    sources_note: 'Planner generated locally in n8n to preserve workflow reliability while producing a stronger content structure.'\n  }\n}];"
      },
      "id": "Planner_LLM",
      "name": "Planner LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "let plan;\n\nif (Array.isArray($json.search_queries) && Array.isArray($json.outline)) {\n  plan = $json;\n} else {\n  const raw = ($json.candidates?.[0]?.content?.parts ?? []).map((p) => p?.text ?? '').join('') || '{}';\n  try {\n    plan = JSON.parse(raw);\n  } catch {\n    plan = {\n      search_queries: [],\n      angle: 'Practical breakdown with real implementation notes',\n      outline: [\n        { section: 'Introduction', bullets: ['Context and problem statement'] },\n        { section: 'Core Workflow', bullets: ['Step-by-step implementation details'] },\n        { section: 'Conclusion', bullets: ['Actionable next steps'] }\n      ],\n      sources_note: 'No external sources parsed from planner output.'\n    };\n  }\n}\n\nreturn [{ json: { ...$item(0).$node['Normalize Input'].json, plan } }];"
      },
      "id": "Parse_Plan",
      "name": "Parse Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const topic = $json.topic;\nconst audience = $json.audience;\nconst tone = $json.tone;\nconst cta = $json.cta;\nconst goal = $json.goal;\nconst proofPoints = $json.proofPoints;\nconst systemExample = $json.systemExample;\nconst plan = $json.plan ?? {};\nconst queries = Array.isArray(plan.search_queries) ? plan.search_queries : [];\nconst hook = plan.hook || `Most AI content pipelines look impressive in demos. They collapse in production.`;\nconst architectureSnapshot = plan.architectureSnapshot || 'Input -> Planner -> Generator -> Validator -> Formatter -> Output';\n\nconst titleText = `${topic}: From Demo-Grade Hype To Production-Grade Execution`;\nconst title = `# ${titleText}`;\n\nconst lead = [\n  `> ${hook}`,\n  '',\n  'Most AI pipelines do not fail loudly. They fail silently.',\n  '',\n  `A lot of writing around ${topic} sounds polished but empty. It explains the trend, repeats the jargon, and avoids the one thing decision-makers actually care about: whether the system will hold up once real users, real latency, and real failure modes show up.`,\n  '',\n  `This article is written for ${audience}. The goal is not to sound informed. The goal is to show what strong execution looks like, why most teams miss it, and how disciplined system design becomes a hiring and client signal in its own right.`\n].join('\\n');\n\nconst marketShiftSection = [\n  '## The Market Shift',\n  `The market no longer rewards AI demos on novelty alone. What clients and employers want now is confidence: confidence that a workflow can be scoped, implemented, monitored, and improved without becoming fragile the moment complexity grows.`,\n  `That is why ${topic} matters. The leverage is real, but so is the execution burden. And that burden compounds fast once orchestration, state, validation, and fallback behavior enter the picture.`\n].join('\\n\\n');\n\nconst whyTeamsMissSection = [\n  '## Why Most Teams Still Ship Demo-Grade AI',\n  'Most weak pipelines fail for boring reasons, not impressive ones. They fail because validation is an afterthought, retries are blunt, prompts carry too much responsibility, and state management is left implicit.',\n  'Most pipelines fail at validation, not generation. Most orchestration complexity grows non-linearly, not linearly. And latency versus quality becomes the real trade-off long before model quality becomes the main bottleneck.',\n  'Better models will not fix bad pipelines. Better structure will.',\n  'Think of it like a CI/CD pipeline for content, except your build steps are AI agents. The moment one stage starts returning unreliable artifacts, everything downstream becomes harder to trust.'\n].join('\\n\\n');\n\nconst architectureSection = [\n  '## A Real System Mental Model',\n  'A strong article should not just talk about systems. It should show one. Here is a compact flow that is simple enough to explain and realistic enough to ship:',\n  '```text',\n  architectureSnapshot,\n  '```',\n  `A grounded example for this workflow is: ${systemExample}`,\n  'The planner defines structure and intent. The generator produces the core artifact. The validator checks whether the output is structurally sound. The formatter turns the result into reusable assets for blog, social, and presentation. That separation matters because it keeps responsibility visible instead of burying everything inside one generation step.'\n].join('\\n\\n');\n\nconst communicationSection = [\n  '## How The Agents And Layers Communicate',\n  'In production, the key question is not whether an agent can produce text. The key question is what contract it must satisfy before the next layer trusts it.',\n  '- Planner output should define sections, angle, and hook in a structured shape.',\n  '- Generator output should focus on the article body rather than also pretending to be validator, formatter, and strategist.',\n  '- Validator logic should test length, duplication, missing sections, and tone drift.',\n  '- Formatter logic should derive metadata and distribution assets from the validated article, not from raw intermediate text.',\n  'This contract-based thinking is what turns a chain of prompts into a system.'\n].join('\\n\\n');\n\nconst failureSection = [\n  '## Failure Handling And Retry Logic',\n  'This is usually the section generic AI articles skip, and it is often the section that matters most in real delivery.',\n  '- If validation fails, regenerate only the weak section instead of re-running the whole pipeline.',\n  '- If a retry cap is hit, return a safe fallback template rather than an inconsistent output.',\n  '- If latency rises, degrade gracefully by simplifying optional enrichment rather than sacrificing the core artifact.',\n  '- If state becomes ambiguous, prefer explicit stage outputs over hidden in-memory assumptions.',\n  'That pattern creates a more senior result because it shows the system is designed for imperfect conditions, not ideal ones.',\n  '```ts',\n  'if (!isValid(section)) {',\n  '  section = await regenerate(section);',\n  '  retryCount++;',\n  '  if (retryCount > MAX_RETRIES) {',\n  '    return fallbackTemplate();',\n  '  }',\n  '}',\n  '```'\n].join('\\n\\n');\n\nconst proofSection = [\n  '## Proof Of Capability',\n  'Real credibility comes from demonstration, not self-description.',\n  `That is why this matters: ${proofPoints}`,\n  'In one representative content pipeline design, duplication and structure drift created failure rates in the 30%+ range before validation was introduced. Adding a validator plus partial retry path brought failure frequency down dramatically because only the weak section had to be regenerated instead of restarting the full flow.',\n  'When you can show architecture, output contracts, validation logic, and fallback behavior inside one coherent delivery pattern, the work stops reading like content and starts reading like operational proof.'\n].join('\\n\\n');\n\nconst clientSection = [\n  '## Why This Matters',\n  `This is the difference between systems that demo well and systems that survive production. That difference is what clients, employers, and product leaders are actually evaluating when the surface-level excitement wears off.`,\n  goal\n].join('\\n\\n');\n\nconst deliverySection = [\n  '## A Practical Delivery Pattern',\n  'A disciplined implementation flow often looks like this:',\n  '- Normalize the input before any generation starts.',\n  '- Plan the structure before expanding the body.',\n  '- Generate the long-form artifact with clear responsibility boundaries.',\n  '- Validate for duplication, structure, completeness, and tone.',\n  '- Derive metadata, social packaging, and presentation assets from the validated output.',\n  queries.length ? `Useful adjacent angles for follow-up content include: ${queries.join(', ')}.` : ''\n].filter(Boolean).join('\\n\\n');\n\nconst faqSection = [\n  '## FAQ',\n  '### What separates senior AI writing from generic AI writing?',\n  'Specificity. Senior writing explains where a system fails, how it recovers, and why its design choices exist.',\n  '### What do strong clients or employers actually notice?',\n  'They notice whether the work reflects judgment: workflow decomposition, validation logic, failure handling, and business relevance.',\n  '### What should a hiring-magnet article prove?',\n  'It should prove that the author can think like a builder, not just like a commentator.'\n].join('\\n\\n');\n\nconst closeSection = [\n  '## Final Takeaway',\n  cta\n].join('\\n\\n');\n\nconst draftMarkdown = [\n  title,\n  lead,\n  marketShiftSection,\n  whyTeamsMissSection,\n  architectureSection,\n  communicationSection,\n  failureSection,\n  proofSection,\n  clientSection,\n  deliverySection,\n  faqSection,\n  closeSection\n].filter(Boolean).join('\\n\\n');\n\nreturn [{ json: { ...$json, draftMarkdown, blogTitle: titleText, primaryHook: hook, architectureSnapshot } }];"
      },
      "id": "Writer_LLM",
      "name": "Writer LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const draftMarkdown = typeof $json.draftMarkdown === 'string'\n  ? $json.draftMarkdown\n  : ($json.candidates?.[0]?.content?.parts ?? []).map((p) => p?.text ?? '').join('');\nif (!draftMarkdown.trim()) {\n  throw new Error('Writer step returned empty content');\n}\n\nreturn [{\n  json: {\n    ...$item(0).$node['Parse Plan'].json,\n    draftMarkdown\n  }\n}];"
      },
      "id": "Collect_Draft",
      "name": "Collect Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $item(0).$node['Collect Draft'].json;\nconst topic = source.topic ?? 'Untitled';\nconst draftMarkdown = source.draftMarkdown ?? '';\nconst goal = source.goal ?? '';\nconst hook = source.primaryHook ?? `Most AI content pipelines look impressive in demos. They collapse in production.`;\nconst architectureSnapshot = source.architectureSnapshot ?? 'Input -> Planner -> Generator -> Validator -> Formatter -> Output';\n\nconst lines = draftMarkdown\n  .split('\\n')\n  .map((line) => line.trim())\n  .filter(Boolean);\n\nconst firstHeading = lines.find((line) => line.startsWith('# '));\nconst title = (firstHeading ? firstHeading.replace(/^#\\s+/, '') : topic).trim();\nconst plainText = draftMarkdown\n  .replace(/^#+\\s+/gm, '')\n  .replace(/```[\\s\\S]*?```/g, ' ')\n  .replace(/`([^`]+)`/g, '$1')\n  .replace(/[\\*_>#-]/g, ' ')\n  .replace(/\\[(.*?)\\]\\((.*?)\\)/g, '$1')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst excerpt = plainText.slice(0, 220).trim() || `Deep dive on ${topic}`;\nconst metaDescription = plainText.slice(0, 155).trim() || `Technical guide about ${topic}`;\nconst slug = title\n  .toLowerCase()\n  .replace(/[^a-z0-9\\s-]/g, '')\n  .trim()\n  .replace(/\\s+/g, '-')\n  .replace(/-+/g, '-');\n\nconst keywords = Array.from(new Set([\n  topic,\n  ...(Array.isArray(source.plan?.search_queries) ? source.plan.search_queries.slice(0, 4) : []),\n  'agentic ai',\n  'workflow automation',\n  'ai automation'\n].map((item) => String(item).trim()).filter(Boolean)));\n\nconst linkedinCaption = [\n  hook,\n  '',\n  `The uncomfortable truth about ${topic}: most teams are still building polished demos, not dependable systems.`,\n  '',\n  `I wrote this for ${source.audience} because the real differentiator is not model access. It is execution discipline.`,\n  '',\n  'A few things I break down in the article:',\n  '- why most pipelines fail at validation, not generation',\n  '- how agent handoffs should work in a real workflow',\n  '- what retry logic and fallback behavior look like in practice',\n  `- a concrete system flow: ${architectureSnapshot}`,\n  '- why this behaves more like CI/CD for content than a single prompt call',\n  '',\n  'One of the clearest signals in AI right now is whether someone can turn ambiguity into architecture, workflows, and reliable output.',\n  '',\n  goal || 'The gap between demo AI and production AI is execution discipline.',\n  '',\n  `Article title: ${title}`\n].join('\\n');\n\nconst linkedinHashtags = [\n  '#AgenticAI',\n  '#AIEngineering',\n  '#WorkflowAutomation',\n  '#AIAutomation',\n  '#LLMOps',\n  '#SystemDesign',\n  '#ProductEngineering',\n  '#BuildInPublic',\n  '#AIProducts',\n  '#SoftwareArchitecture'\n];\n\nconst coverImagePrompt = `Create a premium LinkedIn blog cover for the topic \"${title}\". Visual style: editorial enterprise technology poster, dark graphite background, electric blue and steel highlights, clean architecture diagram feel, subtle node-and-edge workflow map, modern product system aesthetic, bold headline space, high-trust professional composition, designed to impress founders, clients, and hiring managers evaluating senior AI execution talent. Avoid cartoon styling, clutter, and generic stock-art visuals.`;\n\nreturn [{\n  json: {\n    title,\n    slug,\n    excerpt,\n    metaDescription,\n    keywords,\n    linkedinCaption,\n    linkedinHashtags,\n    coverImagePrompt,\n    architectureSnapshot,\n    viralHook: hook\n  }\n}];"
      },
      "id": "SEO_LLM",
      "name": "SEO LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "let seo;\n\nif ($json.title || $json.slug || $json.metaDescription) {\n  seo = $json;\n} else {\n  const seoRaw = ($json.candidates?.[0]?.content?.parts ?? []).map((p) => p?.text ?? '').join('') || '{}';\n  try {\n    seo = JSON.parse(seoRaw);\n  } catch {\n    seo = {};\n  }\n}\n\nconst source = $item(0).$node['Collect Draft'].json;\nconst finalTitle = seo.title || source.topic;\nconst finalSlug = (seo.slug || source.topic)\n  .toLowerCase()\n  .replace(/[^a-z0-9\\s-]/g, '')\n  .trim()\n  .replace(/\\s+/g, '-')\n  .replace(/-+/g, '-');\n\nreturn [{\n  json: {\n    success: true,\n    generatedAt: new Date().toISOString(),\n    title: finalTitle,\n    slug: finalSlug,\n    excerpt: seo.excerpt || `Deep dive on ${source.topic}`,\n    metaDescription: seo.metaDescription || `Technical guide about ${source.topic}`,\n    keywords: Array.isArray(seo.keywords) ? seo.keywords : [source.topic, 'agentic ai', 'workflow automation'],\n    viralHook: seo.viralHook || source.primaryHook || `Most teams are still underestimating what it takes to build ${source.topic} well.`,\n    linkedinCaption: seo.linkedinCaption || '',\n    linkedinHashtags: Array.isArray(seo.linkedinHashtags) ? seo.linkedinHashtags : [],\n    coverImagePrompt: seo.coverImagePrompt || '',\n    architectureSnapshot: seo.architectureSnapshot || source.architectureSnapshot || source.plan?.architectureSnapshot || '',\n    contentMarkdown: source.draftMarkdown,\n    plan: source.plan,\n    input: {\n      topic: source.topic,\n      audience: source.audience,\n      tone: source.tone,\n      wordCount: source.wordCount,\n      cta: source.cta,\n      goal: source.goal,\n      proofPoints: source.proofPoints,\n      systemExample: source.systemExample\n    }\n  }\n}];"
      },
      "id": "Build_Response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        120
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Planner LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planner LLM": {
      "main": [
        [
          {
            "node": "Parse Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Plan": {
      "main": [
        [
          {
            "node": "Writer LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer LLM": {
      "main": [
        [
          {
            "node": "Collect Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Draft": {
      "main": [
        [
          {
            "node": "SEO LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO LLM": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "2f094ac0-f0c7-46d4-bec5-d017f38717fe",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "active": false
}
