AgenticAIBlogGenerator/n8n_blog_workflow.json
{
  "name": "Agentic AI Blog Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agentic-ai-blog-generate",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "Webhook_Trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1280,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "let body = $json.body ?? $json;\nif (typeof body === 'string') {\n  try {\n    body = JSON.parse(body);\n  } catch {\n    throw new Error('Invalid JSON in webhook body');\n  }\n}\n\nconst topic = body.topic?.toString().trim();\nif (!topic) {\n  throw new Error('Missing required field: topic');\n}\n\nconst audience = body.audience?.toString().trim() || 'Founders, hiring managers, and product teams evaluating serious AI execution talent';\nconst tone = body.tone?.toString().trim() || 'Sharp, credible, implementation-first, and insight-dense';\nconst wordCount = Number(body.wordCount ?? 1400);\nconst cta = body.cta?.toString().trim() || 'The gap between demo AI and production AI is not tooling. It is execution discipline. Teams that understand this will ship faster, break less, and win more.';\nconst goal = body.goal?.toString().trim() || 'Show the difference between systems that demo well and systems that survive production.';\nconst proofPoints = body.proofPoints?.toString().trim() || 'I have built agentic systems that generate, validate, and package content across blog and social in a single pipeline with failure isolation, structured outputs, and retry logic.';\nconst systemExample = body.systemExample?.toString().trim() || 'User input -> topic normalizer -> planner -> section generator -> validation layer -> metadata formatter -> output API. Validation checks length, duplication, structure, and tone alignment. If validation fails, regenerate only the weak section. If retries fail, fall back to a safe response template.';\n\nreturn [{\n  json: {\n    topic,\n    audience,\n    tone,\n    wordCount: Number.isFinite(wordCount) ? Math.max(900, Math.min(3200, wordCount)) : 1400,\n    cta,\n    goal,\n    proofPoints,\n    systemExample,\n    requestedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "Normalize_Input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const topic = $json.topic;\nconst audience = $json.audience;\nconst tone = $json.tone;\nconst wordCount = Number($json.wordCount ?? 1400);\nconst goal = $json.goal;\nconst proofPoints = $json.proofPoints;\nconst systemExample = $json.systemExample;\n\nconst searchQueries = [\n  `${topic}`,\n  `${topic} implementation playbook`,\n  `${topic} failure handling architecture`,\n  `${topic} state management patterns`,\n  `${topic} production workflow case study`\n];\n\nconst outline = [\n  {\n    section: 'The Market Shift',\n    bullets: [\n      `Open with a sharp hook about why ${topic} matters right now`,\n      `Frame the opportunity and urgency for ${audience}`\n    ]\n  },\n  {\n    section: 'Why Most Teams Still Ship Demo-Grade AI',\n    bullets: [\n      'Show how shallow orchestration, weak validation, and prompt-only thinking fail in production',\n      'Introduce the idea that most pipelines fail at validation, not generation'\n    ]\n  },\n  {\n    section: 'A Real System Mental Model',\n    bullets: [\n      `Use this architecture as the grounding example: ${systemExample}`,\n      'Explain how agents communicate, where state lives, and where reliability checks sit'\n    ]\n  },\n  {\n    section: 'Failure Handling And Retry Logic',\n    bullets: [\n      'Describe partial regeneration, retry limits, and safe fallback behavior',\n      'Call out latency versus quality as the real production trade-off'\n    ]\n  },\n  {\n    section: 'Proof Of Capability',\n    bullets: [\n      `Weave this proof in naturally: ${proofPoints}`,\n      `Tie the article back to this hiring and client outcome: ${goal}`\n    ]\n  },\n  {\n    section: 'Closing Takeaways',\n    bullets: [\n      'Close with authority, not a sales pitch',\n      'End on execution discipline and why it compounds team advantage'\n    ]\n  }\n];\n\nconst angle = `${tone} article for ${audience} that reads like a strong operator showing real system design, failure handling, and business credibility in about ${wordCount} words.`;\nconst compactTopic = topic.replace(/\\s+/g, ' ').trim();\nconst hookOptions = [\n  `Most ${compactTopic} projects look impressive in demos. They break when production pressure shows up.`,\n  `The hard part of ${compactTopic} is not generation. It is building a system that survives production.`,\n  `Most teams think ${compactTopic} is a tooling problem. It is usually a structure problem.`\n];\nconst hook = hookOptions[compactTopic.length % hookOptions.length];\nconst architectureLine = systemExample.includes('->')\n  ? systemExample.split('.').map((part) => part.trim()).filter(Boolean)[0]\n  : 'Input -> Planner -> Generator -> Validator -> Formatter -> Output';\nconst architectureSnapshot = `${architectureLine}\\nFallback path: Validation fail -> Regenerate weak section only -> Retry cap -> Safe template response`;\n\nreturn [{\n  json: {\n    search_queries: searchQueries,\n    angle,\n    hook,\n    architectureSnapshot,\n    outline,\n    sources_note: 'Planner generated locally in n8n to preserve workflow reliability while producing a stronger content structure.'\n  }\n}];"
      },
      "id": "Planner_LLM",
      "name": "Planner LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "let plan;\n\nif (Array.isArray($json.search_queries) && Array.isArray($json.outline)) {\n  plan = $json;\n} else {\n  const raw = ($json.candidates?.[0]?.content?.parts ?? []).map((p) => p?.text ?? '').join('') || '{}';\n  try {\n    plan = JSON.parse(raw);\n  } catch {\n    plan = {\n      search_queries: [],\n      angle: 'Practical breakdown with real implementation notes',\n      outline: [\n        { section: 'Introduction', bullets: ['Context and problem statement'] },\n        { section: 'Core Workflow', bullets: ['Step-by-step implementation details'] },\n        { section: 'Conclusion', bullets: ['Actionable next steps'] }\n      ],\n      sources_note: 'No external sources parsed from planner output.'\n    };\n  }\n}\n\nreturn [{ json: { ...$item(0).$node['Normalize Input'].json, plan } }];"
      },
      "id": "Parse_Plan",
      "name": "Parse Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const topic = $json.topic;\nconst audience = $json.audience;\nconst tone = $json.tone;\nconst cta = $json.cta;\nconst goal = $json.goal;\nconst proofPoints = $json.proofPoints;\nconst systemExample = $json.systemExample;\nconst plan = $json.plan ?? {};\nconst queries = Array.isArray(plan.search_queries) ? plan.search_queries : [];\nconst hook = plan.hook || `Most ${topic} projects look impressive in demos. They break when production pressure shows up.`;\nconst architectureSnapshot = plan.architectureSnapshot || 'Input -> Planner -> Generator -> Validator -> Formatter -> Output';\nconst titleText = `${topic}: From Demo-Grade Hype To Production-Grade Execution`;\nconst title = `# ${titleText}`;\n\nconst lowerTopic = topic.toLowerCase();\nconst lowerContext = `${topic} ${audience} ${systemExample}`.toLowerCase();\n\nconst profiles = [\n  {\n    test: /(coding|editor|cursor|developer|code|ide|programming|copilot|devtool)/,\n    label: 'developer-tooling',\n    marketShift: 'Developer tooling is being judged less by autocomplete novelty and more by whether it reduces cognitive load without creating hidden risk. Teams want coding systems they can trust during debugging, refactoring, and architectural change.',\n    burden: 'The real burden appears when code suggestions, project context, security, and developer trust start interacting at the same time.',\n    whyFail: 'Most teams ship developer AI that looks smart in short sessions but becomes unreliable once repositories grow, prompts get messy, and context windows stop behaving predictably.',\n    contrarian: 'Better coding models will not fix a broken developer workflow. Better editor trust boundaries will.',\n    analogy: 'Think of it less like autocomplete and more like a distributed reviewer sitting inside the editor. If the handoff between context, generation, and verification is weak, velocity becomes fake speed.',\n    contractIntro: 'In this kind of system, the important question is how planning, generation, and verification share responsibility without confusing the developer.',\n    plannerBullet: 'Planner output should define task scope, file intent, and execution boundaries before generation starts.',\n    generatorBullet: 'Generator output should propose code or reasoning tied to a clear task, not produce broad speculative changes.',\n    validatorBullet: 'Validator logic should check compilation risk, unintended edits, context drift, and trustworthiness of changes.',\n    formatterBullet: 'Formatter logic should package diffs, summaries, and next actions in a way a developer can review quickly.',\n    failureIntro: 'Developer-facing AI breaks trust faster than most products because one bad suggestion can poison the whole experience.',\n    deliveryIntro: 'A disciplined delivery flow for AI coding tools usually looks like this:',\n    proofMetric: 'In one representative developer-tooling workflow, suggestion quality looked strong in isolated prompts but broke down once multi-file edits were introduced. Adding validation plus targeted regeneration cut unusable outputs sharply because only the risky step had to be retried.',\n    faq1: 'Specificity and technical honesty. Strong writing shows where editor assistance fails, where trust breaks, and how verification restores confidence.',\n    faq2: 'They notice whether the writer understands developer trust, reviewability, failure isolation, and the difference between speed and safe velocity.',\n    artifactName: 'patch',\n  },\n  {\n    test: /(seo|content|blog|linkedin|caption|copywriting|marketing|social)/,\n    label: 'content-system',\n    marketShift: 'Content systems are being judged less by how quickly they generate words and more by whether they can produce consistent, high-signal assets across formats without sounding synthetic.',\n    burden: 'The burden shows up when one pipeline has to support article quality, metadata, social packaging, and distribution speed all at once.',\n    whyFail: 'Most teams ship content automation that generates volume but does not maintain structure, originality, or distribution quality once the pipeline scales.',\n    contrarian: 'Better writing models will not fix a weak content system. Better validation and packaging structure will.',\n    analogy: 'Think of it like a CI/CD pipeline for content. If one stage emits weak artifacts, every downstream asset inherits that weakness.',\n    contractIntro: 'In content systems, each stage needs a clean contract so planning, drafting, validation, and packaging do not blur into one noisy generation loop.',\n    plannerBullet: 'Planner output should define sections, positioning angle, and audience intent in a structured format.',\n    generatorBullet: 'Generator output should focus on the core article rather than trying to simultaneously act as strategist, validator, and social editor.',\n    validatorBullet: 'Validator logic should check duplication, thin sections, missing structure, and tone drift.',\n    formatterBullet: 'Formatter logic should derive metadata, captions, and visuals from the validated article rather than from a raw first draft.',\n    failureIntro: 'Content pipelines usually fail quietly. They produce something usable-looking, but structurally weak, repetitive, or impossible to repurpose well.',\n    deliveryIntro: 'A disciplined delivery flow for AI content systems usually looks like this:',\n    proofMetric: 'In one representative content workflow, duplication and structure drift created failure rates above the acceptable threshold before validation existed. Adding section-level checks plus partial regeneration brought quality variance down because only weak sections had to be rewritten.',\n    faq1: 'Specificity and structure. Strong writing shows how the system preserves originality, quality, and repurposability under pressure.',\n    faq2: 'They notice whether the writer understands how to turn one strong artifact into a reusable asset package instead of a single output blob.',\n    artifactName: 'draft',\n  },\n  {\n    test: /(agent|workflow|automation|pipeline|orchestrat|n8n|integration|multi-step)/,\n    label: 'workflow-automation',\n    marketShift: 'Workflow systems are being judged less by whether they can automate a path and more by whether they can handle messy edges without collapsing under real operational load.',\n    burden: 'The burden compounds as soon as multiple stages, external dependencies, fallback rules, and structured outputs need to cooperate.',\n    whyFail: 'Most teams build workflow automation that succeeds in the happy path but falls apart when retries, state ambiguity, or inconsistent intermediate outputs appear.',\n    contrarian: 'Better automation tools will not fix a weak orchestration model. Better contracts and recovery paths will.',\n    analogy: 'Think of it like an operations graph rather than a linear script. Every node inherits the quality of the node before it unless boundaries are explicit.',\n    contractIntro: 'In workflow systems, the important question is how each stage passes forward a shape the next stage can trust without guessing.',\n    plannerBullet: 'Planner output should define stage intent, required fields, and sequencing clearly.',\n    generatorBullet: 'Generator or executor output should do one job well rather than mixing transformation, validation, and formatting together.',\n    validatorBullet: 'Validator logic should check missing fields, malformed structure, duplicate work, and confidence thresholds.',\n    formatterBullet: 'Formatter logic should package the final response in a shape the calling app can consume immediately.',\n    failureIntro: 'Automation systems usually fail at boundaries: one stage assumes too much, another returns too little, and the whole flow becomes brittle.',\n    deliveryIntro: 'A disciplined implementation flow for workflow automation usually looks like this:',\n    proofMetric: 'In one representative workflow pipeline, most breakage came from malformed intermediate outputs rather than the core generation step. Validation plus partial retries reduced workflow failure sharply because the whole chain no longer had to restart on every weak stage.',\n    faq1: 'Specificity around orchestration. Senior writing explains which stages exist, what they return, and how failure is contained.',\n    faq2: 'They notice whether the writer understands sequencing, state, contracts, and recovery logic instead of only the happy path.',\n    artifactName: 'response',\n  },\n  {\n    test: /.*/,\n    label: 'general-system',\n    marketShift: 'The market is moving away from curiosity-driven AI adoption and toward systems that can hold up under pressure, ambiguity, and business scrutiny.',\n    burden: 'The burden grows once structure, quality control, and operational trust become part of the same system instead of separate concerns.',\n    whyFail: 'Most teams build systems that look polished in isolation but have no resilience once multiple moving parts start interacting.',\n    contrarian: `Better ${topic} capabilities will not fix a weak execution model. Better structure will.`,\n    analogy: 'Think of it like a multi-stage production line. If one stage produces unreliable outputs, every later stage pays the price.',\n    contractIntro: 'In multi-stage systems, the real question is not whether one component is clever. The real question is whether the whole chain can trust what moves between stages.',\n    plannerBullet: 'Planner output should define scope, structure, and intent before downstream execution begins.',\n    generatorBullet: 'Generator output should focus on the main artifact rather than pretending to be every stage at once.',\n    validatorBullet: 'Validator logic should check quality, consistency, completeness, and drift.',\n    formatterBullet: 'Formatter logic should package the result into a shape that downstream consumers can use safely.',\n    failureIntro: 'Systems fail quietly when boundaries are weak, assumptions are hidden, and recovery paths are missing.',\n    deliveryIntro: 'A disciplined implementation flow for a system like this usually looks like this:',\n    proofMetric: `In one representative ${topic} workflow, output quality looked acceptable until scale and edge cases introduced drift. Validation plus partial retries reduced quality failures because only the weakest stage had to be rerun.`,\n    faq1: 'Specificity. Strong writing shows where the system breaks, how it recovers, and why its design choices exist.',\n    faq2: 'They notice whether the work reflects judgment, not just surface familiarity with the topic.',\n    artifactName: 'artifact',\n  },\n];\n\nconst profile = profiles.find((candidate) => candidate.test.test(lowerContext)) ?? profiles[profiles.length - 1];\nconst needsCodeSnippet = /(agent|workflow|automation|pipeline|orchestrat|validator|prompt|api|system|content|n8n|ai|editor|code|developer)/.test(lowerContext);\nconst artifactName = profile.artifactName;\nconst artifactLabel = artifactName.charAt(0).toUpperCase() + artifactName.slice(1);\nconst pascalTopic = topic\n  .split(/[^a-zA-Z0-9]+/)\n  .filter(Boolean)\n  .slice(0, 2)\n  .map((part) => part.charAt(0).toUpperCase() + part.slice(1).toLowerCase())\n  .join('');\nconst variablePrefix = artifactName === 'artifact' ? pascalTopic || 'Artifact' : artifactLabel;\nconst snippet = needsCodeSnippet\n  ? [\n      '```ts',\n      'let retryCount = 0;',\n      '',\n      `while (!isValid${variablePrefix}(${artifactName}) && retryCount < MAX_RETRIES) {`,\n      `  ${artifactName} = await regenerate${variablePrefix}(${artifactName});`,\n      '  retryCount++;',\n      '}',\n      '',\n      `if (!isValid${variablePrefix}(${artifactName})) {`,\n      `  return fallback${variablePrefix}Template();`,\n      '}',\n      '```',\n    ].join('\\n')\n  : '';\n\nconst lead = [\n  `> ${hook}`,\n  '',\n  `${topic} systems usually do not fail loudly. They fail silently once real usage exposes weak structure.`,\n  '',\n  `A lot of writing around ${topic} sounds polished but empty. It explains the trend, repeats the jargon, and avoids the one thing decision-makers actually care about: whether the system will hold up once real users, real latency, and real failure modes show up.`,\n  '',\n  `This article is written for ${audience}. The goal is not to sound informed. The goal is to show what strong execution looks like, why most teams miss it, and how disciplined system design becomes a hiring and client signal in its own right.`\n].join('\\n');\n\nconst marketShiftSection = [\n  '## The Market Shift',\n  profile.marketShift,\n  `${topic} matters because the upside is meaningful, but so is the operational burden. ${profile.burden}`\n].join('\\n\\n');\n\nconst whyTeamsMissSection = [\n  '## Why Most Teams Still Ship Demo-Grade Systems',\n  profile.whyFail,\n  `For ${topic}, the real bottleneck usually appears after the first impressive output. That is when validation, state, retries, and quality control stop being optional and start becoming the system.`,\n  profile.contrarian,\n  profile.analogy,\n].join('\\n\\n');\n\nconst architectureSection = [\n  '## A Real System Mental Model',\n  `A strong article about ${topic} should not just talk about systems. It should show one. Here is a compact flow that is simple enough to explain and realistic enough to ship:`,\n  '```text',\n  architectureSnapshot,\n  '```',\n  `A grounded example for this topic is: ${systemExample}`,\n  `In this shape, the early stage defines intent, the middle stage produces the working ${artifactName}, and the later stages check whether that ${artifactName} is strong enough to trust, publish, or pass downstream.`\n].join('\\n\\n');\n\nconst communicationSection = [\n  '## How The Layers Communicate',\n  profile.contractIntro,\n  `- ${profile.plannerBullet}`,\n  `- ${profile.generatorBullet}`,\n  `- ${profile.validatorBullet}`,\n  `- ${profile.formatterBullet}`,\n  'This contract-based thinking is what turns a chain of steps into a dependable system.'\n].join('\\n\\n');\n\nconst failureSection = [\n  '## Failure Handling And Retry Logic',\n  profile.failureIntro,\n  `- If ${artifactName} validation fails, regenerate only the weak section instead of restarting the entire ${topic} flow.`,\n  `- If retry limits are reached, return a safe fallback ${artifactName} rather than an inconsistent output.`,\n  `- If latency spikes, simplify optional enrichment before compromising the core ${artifactName}.`,\n  '- If state becomes ambiguous, prefer explicit stage outputs over hidden assumptions.',\n  `That matters because ${topic} systems earn trust when they recover cleanly under imperfect conditions.`,\n  snippet,\n].filter(Boolean).join('\\n\\n');\n\nconst proofSection = [\n  '## Proof Of Capability',\n  'Real credibility comes from demonstration, not self-description.',\n  `That is why this matters: ${proofPoints}`,\n  profile.proofMetric,\n  `When ${topic} can be explained through architecture, output contracts, validation logic, and fallback behavior, the article stops sounding like commentary and starts sounding like proof.`\n].join('\\n\\n');\n\nconst clientSection = [\n  '## Why This Matters',\n  `This is the difference between ${topic} systems that demo well and ${topic} systems that survive production. That difference is what clients, employers, and product leaders are actually evaluating when the surface-level excitement wears off.`,\n  goal,\n].join('\\n\\n');\n\nconst deliverySection = [\n  '## A Practical Delivery Pattern',\n  profile.deliveryIntro,\n  '- Normalize the input before any execution starts.',\n  '- Plan the structure before expanding the core artifact.',\n  `- Generate the ${artifactName} with clear responsibility boundaries.`,\n  `- Validate for duplication, structure, completeness, and drift.`,\n  `- Package the validated ${artifactName} into downstream-ready assets.`,\n  queries.length ? `Useful adjacent angles for follow-up content include: ${queries.join(', ')}.` : ''\n].filter(Boolean).join('\\n\\n');\n\nconst faqSection = [\n  '## FAQ',\n  `### What separates strong ${topic} writing from generic writing?`,\n  profile.faq1,\n  `### What do serious buyers or employers notice first in ${topic} work?`,\n  profile.faq2,\n  `### What should a hiring-magnet article about ${topic} prove?`,\n  `It should prove that the author understands how ${topic} behaves as a real system, not just as an idea.`\n].join('\\n\\n');\n\nconst closeSection = [\n  '## Final Takeaway',\n  cta,\n].join('\\n\\n');\n\nconst draftMarkdown = [\n  title,\n  lead,\n  marketShiftSection,\n  whyTeamsMissSection,\n  architectureSection,\n  communicationSection,\n  failureSection,\n  proofSection,\n  clientSection,\n  deliverySection,\n  faqSection,\n  closeSection,\n].filter(Boolean).join('\\n\\n');\n\nreturn [{ json: { ...$json, draftMarkdown, blogTitle: titleText, primaryHook: hook, architectureSnapshot } }];"
      },
      "id": "Writer_LLM",
      "name": "Writer LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const draftMarkdown = typeof $json.draftMarkdown === 'string'\n  ? $json.draftMarkdown\n  : ($json.candidates?.[0]?.content?.parts ?? []).map((p) => p?.text ?? '').join('');\nif (!draftMarkdown.trim()) {\n  throw new Error('Writer step returned empty content');\n}\n\nreturn [{\n  json: {\n    ...$item(0).$node['Parse Plan'].json,\n    draftMarkdown\n  }\n}];"
      },
      "id": "Collect_Draft",
      "name": "Collect Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $item(0).$node['Collect Draft'].json;\nconst topic = source.topic ?? 'Untitled';\nconst draftMarkdown = source.draftMarkdown ?? '';\nconst goal = source.goal ?? '';\nconst hook = source.primaryHook ?? `Most ${topic} projects look impressive in demos. They break when production pressure shows up.`;\nconst architectureSnapshot = source.architectureSnapshot ?? 'Input -> Planner -> Generator -> Validator -> Formatter -> Output';\n\nconst lines = draftMarkdown\n  .split('\\n')\n  .map((line) => line.trim())\n  .filter(Boolean);\n\nconst firstHeading = lines.find((line) => line.startsWith('# '));\nconst title = (firstHeading ? firstHeading.replace(/^#\\s+/, '') : topic).trim();\nconst plainText = draftMarkdown\n  .replace(/^#+\\s+/gm, '')\n  .replace(/```[\\s\\S]*?```/g, ' ')\n  .replace(/`([^`]+)`/g, '$1')\n  .replace(/[\\*_>#-]/g, ' ')\n  .replace(/\\[(.*?)\\]\\((.*?)\\)/g, '$1')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst excerpt = plainText.slice(0, 220).trim() || `Deep dive on ${topic}`;\nconst metaDescription = plainText.slice(0, 155).trim() || `Technical guide about ${topic}`;\nconst slug = title\n  .toLowerCase()\n  .replace(/[^a-z0-9\\s-]/g, '')\n  .trim()\n  .replace(/\\s+/g, '-')\n  .replace(/-+/g, '-');\n\nconst keywords = Array.from(new Set([\n  topic,\n  ...(Array.isArray(source.plan?.search_queries) ? source.plan.search_queries.slice(0, 4) : []),\n  'agentic ai',\n  'workflow automation',\n  'ai automation'\n].map((item) => String(item).trim()).filter(Boolean)));\n\nconst linkedinCaption = [\n  hook,\n  '',\n  `The uncomfortable truth about ${topic}: most teams are still building polished demos, not dependable systems.`,\n  '',\n  `I wrote this for ${source.audience} because the real differentiator is not model access. It is execution discipline.`,\n  '',\n  'A few things I break down in the article:',\n  `- where ${topic} pipelines usually fail first`,\n  '- how agent handoffs should work in a real workflow',\n  '- what retry logic and fallback behavior look like in practice',\n  `- a concrete system flow: ${architectureSnapshot}`,\n  `- why ${topic} behaves more like CI/CD for content than a single prompt call`,\n  '',\n  `One of the clearest signals in ${topic} right now is whether someone can turn ambiguity into architecture, workflows, and reliable output.`,\n  '',\n  goal || `The gap between demo ${topic} and production ${topic} is execution discipline.`,\n  '',\n  `Article title: ${title}`\n].join('\\n');\n\nconst toPascal = (value) => value\n  .split(/[^a-zA-Z0-9]+/)\n  .filter(Boolean)\n  .map((part) => part.charAt(0).toUpperCase() + part.slice(1).toLowerCase())\n  .join('');\n\nconst stopWords = new Set(['the', 'and', 'for', 'with', 'that', 'this', 'from', 'into', 'your', 'about', 'will', 'than', 'then', 'they', 'them', 'their', 'how', 'why', 'what', 'most', 'does', 'well', 'more', 'like', 'when', 'where']);\nconst phraseSources = [title, topic, ...keywords, ...(Array.isArray(source.plan?.search_queries) ? source.plan.search_queries : [])];\nconst hashtagCandidates = [];\nconst multiWordPatterns = [\n  { regex: /agentic ai/gi, tag: 'AgenticAI' },\n  { regex: /content pipelines?/gi, tag: 'ContentPipelines' },\n  { regex: /workflow automation/gi, tag: 'WorkflowAutomation' },\n  { regex: /ai engineering/gi, tag: 'AIEngineering' },\n  { regex: /system design/gi, tag: 'SystemDesign' },\n  { regex: /llm ops|llmops/gi, tag: 'LLMOps' },\n  { regex: /software architecture/gi, tag: 'SoftwareArchitecture' },\n  { regex: /state management/gi, tag: 'StateManagement' },\n  { regex: /failure handling/gi, tag: 'FailureHandling' },\n  { regex: /content workflow/gi, tag: 'ContentWorkflow' },\n  { regex: /next\\.?js|nextjs/gi, tag: 'Nextjs' },\n  { regex: /\\bn8n\\b/gi, tag: 'n8n' },\n];\n\nfor (const sourceText of phraseSources) {\n  for (const pattern of multiWordPatterns) {\n    if (pattern.regex.test(sourceText)) {\n      hashtagCandidates.push(pattern.tag);\n    }\n  }\n\n  const words = sourceText\n    .toLowerCase()\n    .split(/[^a-z0-9]+/)\n    .filter((word) => word && word.length > 2 && !stopWords.has(word));\n\n  for (let i = 0; i < words.length; i++) {\n    hashtagCandidates.push(toPascal(words[i]));\n    if (i < words.length - 1) {\n      hashtagCandidates.push(toPascal(`${words[i]} ${words[i + 1]}`));\n    }\n  }\n}\n\nconst linkedinHashtags = Array.from(new Set(hashtagCandidates))\n  .filter((tag) => tag && tag.length >= 3 && tag.length <= 28)\n  .slice(0, 10)\n  .map((tag) => `#${tag}`);\n\nconst coverImagePrompt = `Create a premium LinkedIn blog cover for the topic \"${title}\". Visual style: editorial enterprise technology poster, dark graphite background, electric blue and steel highlights, clean architecture diagram feel, subtle node-and-edge workflow map, modern product system aesthetic, bold headline space, high-trust professional composition, designed to impress founders, clients, and hiring managers evaluating senior AI execution talent. Avoid cartoon styling, clutter, and generic stock-art visuals.`;\n\nreturn [{\n  json: {\n    title,\n    slug,\n    excerpt,\n    metaDescription,\n    keywords,\n    linkedinCaption,\n    linkedinHashtags,\n    coverImagePrompt,\n    architectureSnapshot,\n    viralHook: hook\n  }\n}];"
      },
      "id": "SEO_LLM",
      "name": "SEO LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "let seo;\n\nif ($json.title || $json.slug || $json.metaDescription) {\n  seo = $json;\n} else {\n  const seoRaw = ($json.candidates?.[0]?.content?.parts ?? []).map((p) => p?.text ?? '').join('') || '{}';\n  try {\n    seo = JSON.parse(seoRaw);\n  } catch {\n    seo = {};\n  }\n}\n\nconst source = $item(0).$node['Collect Draft'].json;\nconst finalTitle = seo.title || source.topic;\nconst finalSlug = (seo.slug || source.topic)\n  .toLowerCase()\n  .replace(/[^a-z0-9\\s-]/g, '')\n  .trim()\n  .replace(/\\s+/g, '-')\n  .replace(/-+/g, '-');\n\nreturn [{\n  json: {\n    success: true,\n    generatedAt: new Date().toISOString(),\n    title: finalTitle,\n    slug: finalSlug,\n    excerpt: seo.excerpt || `Deep dive on ${source.topic}`,\n    metaDescription: seo.metaDescription || `Technical guide about ${source.topic}`,\n    keywords: Array.isArray(seo.keywords) ? seo.keywords : [source.topic, 'agentic ai', 'workflow automation'],\n    viralHook: seo.viralHook || source.primaryHook || `Most teams are still underestimating what it takes to build ${source.topic} well.`,\n    linkedinCaption: seo.linkedinCaption || '',\n    linkedinHashtags: Array.isArray(seo.linkedinHashtags) ? seo.linkedinHashtags : [],\n    coverImagePrompt: seo.coverImagePrompt || '',\n    architectureSnapshot: seo.architectureSnapshot || source.architectureSnapshot || source.plan?.architectureSnapshot || '',\n    contentMarkdown: source.draftMarkdown,\n    plan: source.plan,\n    input: {\n      topic: source.topic,\n      audience: source.audience,\n      tone: source.tone,\n      wordCount: source.wordCount,\n      cta: source.cta,\n      goal: source.goal,\n      proofPoints: source.proofPoints,\n      systemExample: source.systemExample\n    }\n  }\n}];"
      },
      "id": "Build_Response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        120
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Planner LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planner LLM": {
      "main": [
        [
          {
            "node": "Parse Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Plan": {
      "main": [
        [
          {
            "node": "Writer LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer LLM": {
      "main": [
        [
          {
            "node": "Collect Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Draft": {
      "main": [
        [
          {
            "node": "SEO LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO LLM": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "2f094ac0-f0c7-46d4-bec5-d017f38717fe",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "active": false
}
